@import 'rem';
@import 'formatting';
@import 'layouts';

:root {
    --ngx-dm-tour-backdrop-color: #027;
}

body {
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: rem(14px);
    line-height: 1.42857143;
}

pre {
    font-size: 0.8rem !important;
}

.no-events {
    pointer-events: none;
}

.pull-right {
    float: right;
}

.fs-3xl {
    font-size: rem(26px) !important;
}
.fs-xxl {
    font-size: rem(22px) !important;
}
.fs-xl {
    font-size: rem(18px) !important;
}
.fs-l {
    font-size: rem(16px) !important;
}
.fs-m {
    font-size: rem(14px) !important;
}
.fs-s {
    font-size: rem(12px) !important;
}
.fs-xs {
    font-size: rem(11px) !important;
}
.fs-xxs {
    font-size: rem(10px) !important;
}
.fs-3xs {
    font-size: rem(8px) !important;
}
