<div class="dm-page layout fit vertical">
    <h1>DmTour demo</h1>
    <button style="position: absolute; top: 10px; right: 10px"
        nz-button
        nzType="primary"
        nzShape="circle"
        nzSize="small"
        dm-tour="s1.fr">
        Q
    </button>
    <div class="layout flex relative">

        <div class="dm-panel layout fit">
            <div class="dm-panel-left layout" [style.width.px]="divider['d1'].size">
                <div class="layout flex relative">
                    <div class="layout vertical fit scroll">
                        <b class="mb1 fs-l">Options:</b>
                        <div>
                            <button nz-button nzType="primary" (click)="showHelp('s1')" dm-tour="s0.help">
                                Show help
                            </button>
                            <br>
                            <button class="mt05" nz-button nzType="primary" (click)="showControlsHelp('s1')" dm-tour="s0.help2">
                                Highlight controls
                            </button>
                        </div>
                    </div>
                </div>
                <div dm-divider class="dm-divider-vert layout center-center" style="width: 12px"
                    enabled="true"
                    [class.dm-divider-moving]="divider['d1'].moving"
                    (dmDividerDragStart)="dividerDragStart('d1', $event)"
                    (dmDividerDragEnd)="dividerDragEnd('d1', $event)"
                    (dmDividerMove)="dividerMove('d1', $event)">
                    <div class="dm-divider-inner"></div>
                </div>
            </div>

            <div class="layout flex relative">
                <div class="layout fit scroll">

                    <div class="dm-panel-demo relative">
                        <div class="layout end-justified">
                            <div style="width: 700px"></div>
                            <div class="dm-pointer-right" dm-tour="s1.p1">Scroll right to view more content</div>
                            <div class="flex"></div>
                            <div>
                                <div dm-tour="s1.tb1">
                                    <nz-button-group>
                                        <button nz-button nzType="default">S</button>
                                        <button nz-button nzType="default">O</button>
                                        <button nz-button nzType="default">M</button>
                                        <button nz-button nzType="default">E</button>
                                    </nz-button-group>                            
                                    <nz-button-group class="ml1">
                                        <button nz-button nzType="default">T</button>
                                        <button nz-button nzType="default">O</button>
                                        <button nz-button nzType="default">O</button>
                                        <button nz-button nzType="default">L</button>
                                        <button nz-button nzType="default">B</button>
                                        <button nz-button nzType="default">A</button>
                                        <button nz-button nzType="default">R</button>
                                    </nz-button-group>                            
                                </div>
                            </div>
                        </div>
                        <div class="dm-poi layout center-center" style="width: 150px; height: 100px" dm-tour="s1.poi1">
                            <span>Some point of interest</span>
                        </div>
                        <button nz-button nzType="primary" nzShape="round" nzGhost style="margin: 100px 0 0 200px" dm-tour="s1.btn1" (click)="showControlsHelp('s0')">Some button</button>
                        <div class="dm-poi layout center-center" style="width: 250px; height: 150px; position: absolute; left: 900px; top: 500px" dm-tour="s1.poi2">
                            <span>Some other point of interest</span>
                        </div>
                        <br><br><br><br>
                        <div class="dm-pointer-bottom" style="width: 200px; margin-left: 400px" dm-tour="s1.p2">Scroll down to view more content</div>
                        <br><br><br><br>
                        <div class="layout" style="margin: 500px 0 0 500px">
                            <pre style="width: 400px">
<span dm-tour="s1.tobe">To be or not to be</span>—that is the question:
Whether ’tis nobler in the mind to suffer
The slings and arrows of outrageous fortune,
Or to take arms against a sea of troubles
And, by opposing, end them. To die, to sleep—
No more—and by a sleep to say we end
The heartache and the thousand natural shocks
That flesh is heir to—’tis a consummation
Devoutly to be wished. To die, to sleep—
To sleep, perchance to dream. Ay, there’s the rub,
For in that sleep of death what dreams may come,
When we have shuffled off this mortal coil,
Must give us pause. There’s the respect
That makes calamity of so long life.
For who would bear the whips and scorns of time,
Th’ oppressor’s wrong, the proud man’s contumely,
The pangs of despised love, the law’s delay,
The insolence of office, and the spurns
That patient merit of th’ unworthy takes,
When he himself might his quietus make
With a bare bodkin? Who would fardels bear,
To grunt and sweat under a weary life,
But that the dread of something after death,
The undiscovered country from whose bourn
No traveler returns, puzzles the will
And makes us rather bear those ills we have
Than fly to others that we know not of?
Thus conscience does make cowards (of us all),
And thus the native hue of resolution
Is (sicklied) o’er with the pale cast of thought,
And enterprises of great pitch and moment
With this regard their currents turn awry
And lose the name of action.—Soft you now,
The fair Ophelia.—Nymph, in thy orisons
<span dm-tour="s1.be">Be</span> all my sins remembered.
                            </pre>
                            <dm-table class="ngx-dmt-stripes" style="width: 500px" dm-tour="s1.table"
                                [data]="[
                                    [1, 'one', { key: 'value1' }],
                                    [2, 'two', { key: 'value2' }],
                                    [3, 'three', { key: 'value3' }]
                                ]"
                                [sort]="{ colId: 1, order: 1 }"
                                [colsWidth]="{ '0': 100 }"
                                [defaultColumnConfig]="{ minWidth: 200 }">
                                <dm-column title="ID"
                                    minWidth="50" maxWidth="150"
                                    sortable="true" sort="number">
                                </dm-column>
                                <dm-column title="Text" sortable="true" sort="string"></dm-column>
                                <dm-column>
                                    <ng-template #header>
                                        <div>
                                            <i style="color: red">
                                                <u>Key value</u>
                                            </i>
                                        </div>
                                    </ng-template>
                                    <ng-template #cell let-item>
                                        <div>
                                            key: <b>{{ item['key'] }}</b>
                                        </div>
                                    </ng-template>
                                </dm-column>
                            </dm-table>
                        </div>
                        <br><br><br>
                        <table style="margin-left: 100px">
                            <tr>
                                <td><div class="dm-pos-demo" dm-tour="s1.pos-lt"></div></td>
                                <td><div class="dm-pos-demo" dm-tour="s1.pos-tl"></div></td>
                                <td><div class="dm-pos-demo" dm-tour="s1.pos-t"></div></td>
                                <td><div class="dm-pos-demo" dm-tour="s1.pos-tr"></div></td>
                                <td><div class="dm-pos-demo" dm-tour="s1.pos-rt"></div></td>
                            </tr>
                            <tr>
                                <td><div class="dm-pos-demo" dm-tour="s1.pos-l"></div></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><div class="dm-pos-demo" dm-tour="s1.pos-r"></div></td>
                            </tr>
                            <tr>
                                <td><div class="dm-pos-demo" dm-tour="s1.pos-lb"></div></td>
                                <td><div class="dm-pos-demo" dm-tour="s1.pos-bl"></div></td>
                                <td><div class="dm-pos-demo" dm-tour="s1.pos-b"></div></td>
                                <td><div class="dm-pos-demo" dm-tour="s1.pos-br"></div></td>
                                <td><div class="dm-pos-demo" dm-tour="s1.pos-rb"></div></td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
