.dm-page {
    padding: 10px;
    .dm-panel {
        .dm-panel-left {
            width: 300px;
            padding: 10px 0 10px 10px;
            background-color: #f8f8f8;
            margin-right: 10px;
            & > div {
                margin-bottom: 10px;
            }
            .dm-data {
                color: steelblue;
            }
        }
        .dm-panel-demo {
            margin: 10px;
            padding: 10px;
            border: 1px dashed steelblue;
            min-width: 2500px;
            min-height: 2500px;
            .dm-poi {
                border: 1px solid #ccc;
                border-radius: 8px;
                padding: 50px;
            }
            .dm-pointer-right,
            .dm-pointer-bottom {
                border: 2px solid rgba(#080, .5);
                color: #080;
                margin: 10px;
                padding: 20px;
                border-radius: 8px;
                position: relative;
                background: rgba(#080, .1);
                text-align: center;
                &:before {
                    border: 2px solid;
                    border-color: transparent rgba(#080, .5) rgba(#080, .5) transparent;
                    background: #e5f3e5;
                    content: " ";
                    position: absolute;
                }
            }
            .dm-pointer-right:before {
                right: -10px;
                top: calc(50% - 10px);
                width: 20px;
                height: 20px;
                transform: rotate(-45deg);
            }
            .dm-pointer-bottom:before {
                bottom: -10px;
                left: calc(50% - 10px);
                width: 20px;
                height: 20px;
                transform: rotate(45deg);
            }
        }
    }
}

.dm-divider, 
.dm-divider-vert {
    background-color: transparent;
    transition: all 0.2s;
    & > div.dm-divider-inner {
        border-color: #ccc;
        border-style: dashed;
        transition: all 0.2s;
    }
    &:hover, 
    &.dm-divider-moving {
        & > div.dm-divider-inner {
            border-color: #999;
            border-style: solid;
        }
    }
}
.dm-divider {
    height: 7px;
    cursor: row-resize;
    & > div.dm-divider-inner {
        height: 3px;
        width: 50px;
        border-width: 1px 0;
        margin-left: 20px;
    }
    &:hover, 
    &.dm-divider-moving {
        & > div.dm-divider-inner {
            width: 90%;
            width: calc(100% - 60px);
        }
    }
}
.dm-divider-vert {
    width: 7px;
    cursor: col-resize;
    & > div.dm-divider-inner {
        width: 3px;
        height: 50px;
        border-width: 0 1px;
    }
    &:hover, 
    &.dm-divider-moving {
        & > div.dm-divider-inner {
            height: 90%;
            height: calc(100% - 60px);
        }
    }
}

.gray {
    background-color: rgba(0, 0, 0, .03);
}
